<ion-content ng-controller="resultQuote" ionic-body active-preview>
	<div class="bar bar-energized" >
		<div class="h1 title">Resultado de la Cotización</div>
	</div>
	<div class="content has-subheader padding">
		<div class="card">
			<div class="item item-text-wrap">
				El valor del SOAT para su vehiculo es de: <br>
				<strong ng-bind="totalCost"></strong>
			</div>
		</div>
		<div class="button-bar bar-energized">
			<a href="#/admin" class="button">Salir</a>
		</div>
	</div>
</ion-content>